.idea
.DS_Store

# env files
.env

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
vendor/

# node
.husky
node_modules
package-lock.json
package.json

# JS scripts
*.js

# test folder
data/test/
